// define your variables here
$primary-color: #354a9e;

$heading-color-light: #ffffff;
$heading-color-dark: $primary-color;

$paragraph-color-light: #ffffff;
$paragraph-color-dark: #1b264d;

$tablet-width: 768px;
$desktop-width: 1140px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
